* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

ul, ol {
  list-style: none;
}

a:link, a:visited {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 0;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100vw;
  height: 80px;
  background: #fff;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.mainmenu ul, .mobilemenu--column ol, ul {
  list-style: none;
}

.menu__logo {
  width: 150px;
  height: 24px;
  margin: auto 25px;
}

.logo {
  width: 100%;
}

.mainmenu, .submenu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.mainmenu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item {
  border-left: 2px dotted #dedede;
  padding: 0 20px;
  font-weight: normal;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.menu--sub {
  height: auto;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.menu__link {
  position: relative;
}

.menu__link::after {
  content: "";
  width: calc(100% - 20px);
  height: 3px;
  position: absolute;
  bottom: -10px;
  left: 10px;
  background: #089e78;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: .3s;
  transition: .3s;
}

.menu__link--red {
  color: #f00;
}

.menu__link--red:hover {
  color: #f00;
}

.menu__link--red::after {
  background: red;
}

.menu__item:hover > .menu__link::after {
  -webkit-transform: scaleX(1.2);
          transform: scaleX(1.2);
}

.dropdown {
  position: absolute;
  width: 100%;
  height: auto;
  max-height: 0;
  background: rgba(237, 237, 237, 0.95);
  left: 0;
  top: 100%;
  -webkit-transition: .5s;
  transition: .5s;
  overflow: hidden;
}

.dropdown--row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dropdown {
  position: absolute;
  width: 100vw;
  opacity: 0;
}

.menu__item--shop:hover > .dropdown {
  max-height: 500px;
  opacity: 1;
}

.dropdownlist {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-flex-line-pack: start;
      align-content: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 20px;
}

.dropdownlist, .dropdownitem__img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 40px 80px;
}

.img {
  width: 300px;
}

.menulist {
  width: 100%;
  height: auto;
  max-height: 0;
  background: rgba(237, 237, 237, 0.95);
  left: 0;
  top: 100%;
  -webkit-transition: .5s;
  transition: .5s;
  overflow: hidden;
}

.menulist--column {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: calc(100% + 20px);
  width: 140px;
  padding: 0 10px;
  background: rgba(255, 255, 255, 0.8);
}

.menulist__item {
  width: 100%;
  letter-spacing: 1px;
  color: #666;
  font-size: 15px;
  padding: 15px 0;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

.menu__item--classroom:hover > .menulist {
  max-height: 500px;
}

.menu__item--classroom {
  position: relative;
}

.icon--circle {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #fff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
}

.submenu__item--search {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-auto-flow: column;
  gap: 10px;
  padding: 0 20px;
  border-left: 1px solid rgba(0, 0, 0, 0.18);
}

.header__mobileBtn, .submenu__item--member, .submenu__item--cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 120px;
  height: 120px;
  background-image: linear-gradient(-45deg, #28bac3 0%, #16b48c 100%);
  z-index: 1;
}

.submenu__item--cart {
  background-image: linear-gradient(-45deg, #086dda 0%, #005bac 100%);
}

.submenu__item--cart:hover {
  background-image: linear-gradient(-45deg, #005bac 0%, #086dda 100%);
}

.submenu__item--member:hover {
  background-image: linear-gradient(-45deg, #16b48c 0%, #28bac3 100%);
}

.shorter {
  -webkit-transition: .5s;
  transition: .5s;
  height: 80px;
}

.header__mobileMenu {
  position: absolute;
  top: 0;
  left: -100vw;
  width: 100vw;
  height: 100vh;
  background: #fff;
}

.header__mobileMenu {
  position: absolute;
  width: 100vw;
  min-height: 100vh;
  top: 0;
  left: -100vw;
  background: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  overflow: scroll;
  z-index: -1;
}

.header__mobileMenu.open {
  left: 0vw;
  z-index: 1;
}

.searchBar {
  width: 100%;
  height: 45px;
  background: #dbdbdb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.searchBar::before, .searchBar__cancel::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  width: 45px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.searchBar::before {
  content: "\f002";
  font-size: 16px;
  color: #000;
}

.searchBar__cancel::after {
  content: "\f00d";
  font-size: 32px;
  background: #2e2e2e;
  color: #fff;
}

.searchBar__input {
  width: calc(100% - 90px);
  height: 16px;
  border: 0;
  margin-right: 10px;
  border-left: 1px solid #afafaf;
  padding-left: 5px;
  letter-spacing: 1px;
  font-size: 12px;
  background-color: transparent;
}

.mobileMenu {
  margin-top: 20px;
}

.mobilemenu--column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90vw;
  margin: 0 auto;
  font-weight: 900;
}

.menu__item--block {
  padding: 16px 0;
  border-top: 1px solid #0000005e;
}

.menu__link--block {
  margin-left: 20px;
}

.menu--have-sub {
  position: relative;
  cursor: pointer;
}

.menu--have-sub::after {
  content: '\f078';
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 20px;
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.menu--have-sub.open::after {
  -webkit-transform: translateY(-50%) rotate(-180deg);
          transform: translateY(-50%) rotate(-180deg);
}

.menu--sub {
  position: relative;
  top: 16px;
  height: auto;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  font-weight: normal;
}

.menu--sub.open {
  max-height: 300px;
}

.socialIcon__download, .socialIcon__links {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  gap: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0;
}

.text--white {
  color: #fff;
}

.text--dark {
  letter-spacing: 2px;
  font-size: 14px;
  color: #666;
  font-weight: 900;
}

.text--en {
  font-size: 8px;
  letter-spacing: 3px;
  opacity: 0.58;
}

.icon--header {
  font-size: 25px;
  margin: 8px 0;
  color: #fff;
}

.icon--black {
  color: #000;
}

.icon--sm {
  font-size: 20px;
}

.icon--circle {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #fff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
}

.btn {
  display: block;
  padding: 15px 0;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 300;
  vertical-align: middle;
}

.btn--main {
  background: #279a88;
  color: #fff;
}

.btn--signin {
  margin: 0 auto;
  width: 90vw;
}

@media (max-width: 960px) {
  * {
    font-size: .8rem;
  }
  .menu {
    height: 60px;
  }
  .img {
    width: 100%;
  }
  .menu__logo {
    width: 125px;
    height: 20px;
  }
  .img--icon {
    max-width: 40px;
  }
  .header__mobileBtn, .submenu__item--member, .submenu__item--cart {
    width: 60px;
    height: 60px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

ul, ol {
  list-style: none;
}

a:link, a:visited {
  text-decoration: none;
}

.footer {
  position: relative;
  background-color: #ebebeb;
}

.footer__map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 20px calc((100vw - 1280px) / 2);
}

.maplist .maplist__item {
  margin-bottom: 0;
}

.align-center {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.map__logo .maplogo__image {
  width: 100%;
}

.footer__sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
}

.list__item--sm {
  display: inline-block;
  margin-bottom: 10px;
  padding: 0 15px;
  border-left: 1px solid #999;
  text-transform: uppercase;
  font-size: 14px;
}

.list__item--sm:first-child {
  border-left: 0;
}

.ml8 {
  margin-left: 8px;
}

.map_app {
  margin-right: 8px;
}

.img {
  width: 100%;
}

.img--icon {
  max-width: 35px;
}

.icon {
  font-size: 25px;
  margin: 8px 0;
  color: #fff;
}

.icon--black {
  color: #000;
}

.icon--sm {
  font-size: 20px;
}

i.icon--circle {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #fff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
}

.top-btn {
  position: fixed;
  right: 2vh;
  bottom: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  z-index: 111;
}

.top-btn .icon-md {
  width: 80px;
  height: 80px;
}

.top-btn .top-btn-icon {
  margin-top: 10px;
}

.top-btn .top-btn-icon img {
  width: 100%;
}

.bodr-n {
  border: 0;
}

@media (min-width: 960px) and (max-width: 1349px) {
  .footer__map {
    width: 880px;
    height: auto;
    margin: 0 auto;
  }
  .footer__map .map_mb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 150px;
  }
  .footer__map .map_mb .map__logo, .footer__map .map_mb .map__title {
    width: 100%;
  }
  .footer__map .map_mb--r {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media (max-width: 1199px) {
  * {
    font-size: 0.95rem;
  }
}

@media (max-width: 959px) {
  * {
    font-size: 0.88rem;
  }
  .mb-none {
    display: none;
  }
  .border-none {
    border: 0;
  }
  .footer__main {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 150px;
  }
  .socialIcon__links {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .text-center {
    text-align: center;
  }
  .line-h {
    line-height: 250%;
  }
  .footer {
    position: relative;
    background-color: #fff;
  }
  .footer .footer__map {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding-bottom: 0;
  }
  .footer .footer__map .map_mb {
    padding-top: 20px;
  }
  .footer .footer__map .map_mb--r {
    padding-bottom: 20px;
  }
  .footer__sub {
    padding: 0;
  }
  .copyright {
    font-size: 14px;
    position: absolute;
    bottom: 0;
    background-color: #000;
    width: 100%;
    text-align: center;
    color: #fff;
    padding: 5px;
  }
  .footer__sub {
    padding-bottom: 50px;
  }
}

@media (min-width: 769px) {
  .pc-none {
    display: none;
  }
  .footer__map {
    background: #ebebeb;
  }
  .footer__sub {
    background: #dddddd;
  }
}

.breadcrumbs {
  width: 100%;
  background: #e8ebee;
  padding: 20px 0 20px 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.breadcrumbs__item {
  color: #999999;
  margin: 0 10px;
}

.breadcrumbs__item a:link, .breadcrumbs__item a:visited {
  text-decoration: none;
  color: #999999;
}

.breadcrumbs__item p {
  color: #666;
  font-size: 14px;
}

.breadcrumbs__arrow {
  color: #999999;
}

@media (min-width: 960.1px) and (max-width: 1350px) {
  .breadcrumbs {
    padding: 20px 0 20px 10vw;
  }
}

@media (min-width: 700.1px) and (max-width: 960px) {
  .breadcrumbs {
    padding: 16px 0 16px 40px;
  }
}

@media (max-width: 700px) {
  .breadcrumbs {
    padding: 16px 0 16px 30px;
  }
}

.Empty-block {
  max-width: 100%;
  height: 80px;
}

.container__new {
  width: 100%;
}

.container__new .container1 {
  width: 50%;
  background-color: #fff;
  margin: 0 auto;
  padding: 50px 0;
}

.container__new .container1 .button_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.container__new .container1 .button_area .button_box {
  width: calc((100% / 3) - 2px);
  border: 1px solid #ccc;
  text-align: center;
  background: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  position: relative;
  font-size: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 16px 0;
}

.container__new .container1 .button_area .Btn-Target {
  border: 1px solid #32b490;
  background: #32b490;
  color: #fff;
}

.container2 {
  width: 80vw;
  margin: 5rem auto;
  display: none;
}

.container2 .member_article {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  width: 100%;
  justify-items: center;
}

.container2 .member_article .card-item {
  border: 1px solid #ccc;
  cursor: pointer;
}

.container2 .member_article .card-item .img-box {
  position: relative;
  width: 100%;
}

.container2 .member_article .card-item .img-box .cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: rgba(223, 224, 226, 0.95);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container2 .member_article .card-item .img-box .cover .cover__icon {
  width: 80px;
  margin: 24% auto;
}

.container2 .member_article .card-item .img-box .cover .cover__icon p {
  font-size: 13px;
  color: #344154;
}

.container2 .member_article .card-item .card__content {
  padding: 40px 20px;
  letter-spacing: 1px;
  position: relative;
  height: 250px;
}

.container2 .member_article .card-item .card__content .card__content-data {
  font-size: 14px;
  font-weight: 400;
  display: block;
  position: relative;
  margin: 15px 0;
}

.container2 .member_article .card-item .card__content .card__content-icon {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: #e7e7e7;
  border-radius: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #005bac;
}

.container2 .member_article .card-item .card__content .card__content-icon i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.card-item:hover .text-2:after {
  width: 100%;
}

.card-item:hover .icon-text {
  color: #fff;
  background-color: #005bac;
}

.card-item:hover #cover-text {
  opacity: 1;
}

.text-2::after {
  content: '';
  display: block;
  width: 40px;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: -15px;
  background: #ffc219;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.icon-p-right {
  color: #9999;
}

.dp-block {
  display: block;
}

.card__cover {
  width: 100%;
  height: auto;
}

@media (min-width: 1700px) {
  .member_article {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 961px) {
  .pc--none {
    display: none;
  }
}

@media (max-width: 960px) {
  .mb--none {
    display: none;
  }
}

@media (max-width: 1200px) {
  .container__new {
    width: 100%;
  }
  .container__new .container2 {
    width: 100%;
  }
  .container__new .container2 .member_article {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .Empty-block {
    height: 60px;
  }
  .container__new {
    width: 90%;
    margin: 0 auto;
  }
  .container__new .container1 {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 20px;
  }
  .container__new .container2 {
    width: 100%;
    margin-top: 0;
  }
  .container__new .container2 .member_article {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .container__new .container2 .member_article .card-item .card__content {
    height: 200px;
  }
}
/*# sourceMappingURL=news.css.map */